@import model.{TodoCategory, ViewValueCommon}
@(todoCategories: Seq[TodoCategory#EmbeddedId])
@common.Default(ViewValueCommon(title = "TodoCategory一覧", cssSrc = Seq("main.css", "todoCategory/index.css"), jsSrc = Seq("main.js"))) {
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>slug</th>
        <th>color</th>
      </tr>
    </thead>
    <tbody>
    @for(todoCategory <- todoCategories) {
      <tr class="@todoCategory.v.color.toCssClass">
        <td>@todoCategory.v.name</td>
        <td>@todoCategory.v.slug</td>
        <td>@todoCategory.v.color</td>
        <td><a href="@routes.TodoCategoryController.editForm(todoCategory.id)">更新</a></td>
        <td><a href="@routes.TodoCategoryController.remove(todoCategory.id)">削除</a></td>
      </tr>
    }
    </tbody>
  </table>
}
